In [4]:
from pymongo import MongoClient

client = MongoClient()
client.close()

In [5]:
client = MongoClient('127.0.0.1', 27017)
client = MongoClient('mongodb://127.0.0.1:27017/')

In [84]:
from pymongo import MongoClient
from pprint import pprint

clinet = MongoClient()

In [85]:
db = clinet.lab
newjeans = db.newjeans

In [86]:
newjeans.delete_many({})

In [87]:
newjeans.insert_one({'name':'Minji', 'age':18})

In [88]:
pprint(list(newjeans.find()))

[{'_id': ObjectId('6603ce812498dea9061d070f'), 'age': 18, 'name': 'Minji'}]

In [89]:
newjeans.insert_many([
    {
        'name':'Hanni',
        'age': 19
    },
    {
        'name': 'Danielle',
        'age': 18
    },
    {
        'name': 'Haerin',
        'age': 17
    }
])

In [90]:
pprint(list(newjeans.find()))

[{'_id': ObjectId('6603ce812498dea9061d070f'), 'age': 18, 'name': 'Minji'},
 {'_id': ObjectId('6603ce822498dea9061d0710'), 'age': 19, 'name': 'Hanni'},
 {'_id': ObjectId('6603ce822498dea9061d0711'), 'age': 18, 'name': 'Danielle'},
 {'_id': ObjectId('6603ce822498dea9061d0712'), 'age': 17, 'name': 'Haerin'}]

In [91]:
newjeans.update_one(
    { 'name': 'Hannie' },
    { '$set': { 'location' : 'Rome' } },
    upsert=True
)

In [92]:
pprint(list(newjeans.find()))

[{'_id': ObjectId('6603ce812498dea9061d070f'), 'age': 18, 'name': 'Minji'},
 {'_id': ObjectId('6603ce822498dea9061d0710'), 'age': 19, 'name': 'Hanni'},
 {'_id': ObjectId('6603ce822498dea9061d0711'), 'age': 18, 'name': 'Danielle'},
 {'_id': ObjectId('6603ce822498dea9061d0712'), 'age': 17, 'name': 'Haerin'},
 {'_id': ObjectId('6603ce84fbd056ad72228dd2'),
  'location': 'Rome',
  'name': 'Hannie'}]

In [93]:
newjeans.update_many(
    { 'age': 19 },
    { '$set': { 'location' : 'Paris' } },
    upsert=True
)

In [94]:
pprint(list(newjeans.find()))

[{'_id': ObjectId('6603ce812498dea9061d070f'), 'age': 18, 'name': 'Minji'},
 {'_id': ObjectId('6603ce822498dea9061d0710'),
  'age': 19,
  'location': 'Paris',
  'name': 'Hanni'},
 {'_id': ObjectId('6603ce822498dea9061d0711'), 'age': 18, 'name': 'Danielle'},
 {'_id': ObjectId('6603ce822498dea9061d0712'), 'age': 17, 'name': 'Haerin'},
 {'_id': ObjectId('6603ce84fbd056ad72228dd2'),
  'location': 'Rome',
  'name': 'Hannie'}]

In [95]:
newjeans.update_one(
    { 'name': 'Hyein' },
    { '$set': { 'age' : '15' } },
    upsert=True
)

In [96]:
pprint(list(newjeans.find()))

[{'_id': ObjectId('6603ce812498dea9061d070f'), 'age': 18, 'name': 'Minji'},
 {'_id': ObjectId('6603ce822498dea9061d0710'),
  'age': 19,
  'location': 'Paris',
  'name': 'Hanni'},
 {'_id': ObjectId('6603ce822498dea9061d0711'), 'age': 18, 'name': 'Danielle'},
 {'_id': ObjectId('6603ce822498dea9061d0712'), 'age': 17, 'name': 'Haerin'},
 {'_id': ObjectId('6603ce84fbd056ad72228dd2'),
  'location': 'Rome',
  'name': 'Hannie'},
 {'_id': ObjectId('6603ce89fbd056ad7222900e'), 'age': '15', 'name': 'Hyein'}]

In [98]:
newjeans.delete_many({'location':'Paris'})

In [99]:
pprint(list(newjeans.find()))

[{'_id': ObjectId('6603ce812498dea9061d070f'), 'age': 18, 'name': 'Minji'},
 {'_id': ObjectId('6603ce822498dea9061d0711'), 'age': 18, 'name': 'Danielle'},
 {'_id': ObjectId('6603ce822498dea9061d0712'), 'age': 17, 'name': 'Haerin'},
 {'_id': ObjectId('6603ce84fbd056ad72228dd2'),
  'location': 'Rome',
  'name': 'Hannie'},
 {'_id': ObjectId('6603ce89fbd056ad7222900e'), 'age': '15', 'name': 'Hyein'}]

In [113]:
db = client.lab  
col = db.imdb

In [114]:
def input_movie_info():
    title = input("Movie title: ")
    director = input("Director: ")
    genre = input("Genre: ").split(",")
    score = float(input("Score: "))

    return title, director, genre, score

In [116]:
t, d, g, s = input_movie_info()

col.insert_one(
    {
        'title':t,
        'director': d,
        'genre': g,
        'score': s
    }
)

print("[INFO] Success to insert!")

[INFO] Success to insert!

In [112]:
pprint(list(col.find()))

[{'_id': ObjectId('6603d1f92498dea9061d0713'),
  'director': 'Craig Gillespie',
  'genre': ['Comedy', ' Crime'],
  'score': 7.4,
  'title': 'Cruella'}]

In [117]:
def input_movie_info():
    title = input("Movie title: ")
    director = input("Director: ")
    genre = input("Genre: ").split(",")
    score = float(input("Score: "))

    return title, director, genre, score

In [118]:
quit = False
movies = []

while(not quit):
    t, d, g, s = input_movie_info()
    doc = {'title': t, 'director': d, 'genre': g, 'score': s }
    movies.append(doc)

    end = input("Quit? (Y/N)")

    if end =="Y":
        quit = True

col.insert_many(movies) 

print("[INFO] Success to insert!")

In [119]:
pprint(list(col.find()))

[{'_id': ObjectId('6603d1f92498dea9061d0713'),
  'director': 'Craig Gillespie',
  'genre': ['Comedy', ' Crime'],
  'score': 7.4,
  'title': 'Cruella'},
 {'_id': ObjectId('6603d26d2498dea9061d0714'),
  'director': 'Craig Gillespie',
  'genre': ['Comedy', ' Crime'],
  'score': 7.4,
  'title': 'Cruella'},
 {'_id': ObjectId('6603d2a12498dea9061d0715'),
  'director': 'Craig Gillespie',
  'genre': ['Comedy', ' Crime'],
  'score': 7.4,
  'title': 'Cruella'},
 {'_id': ObjectId('6603d43d2498dea9061d0716'),
  'director': 'Anthony Russo and Joe Russo',
  'genre': ['Action', ' Adventure', ' Drama'],
  'score': 8.6,
  'title': ' Avengers: Infinity War'},
 {'_id': ObjectId('6603d43d2498dea9061d0717'),
  'director': 'Christopher Landon',
  'genre': ['Drama', ' Horror', ' Mystery'],
  'score': 6.6,
  'title': 'Happy Death Day 2U'},
 {'_id': ObjectId('6603d43d2498dea9061d0718'),
  'director': 'Park Chan-Wook',
  'genre': ['Action', ' Drama', ' Mystery', ' Thriller'],
  'score': 8.4,
  'title': 'Oldboy'}]

In [122]:
title = input("title")
director = input("director")
genre = input("genre").split(",")
score = float(input("score"))

col.update_one({'Movie Title':title}, {'$set' : {'Director':director, 'Genre': genre, 'score': score}})

In [123]:
pprint(list(col.find()))

[{'_id': ObjectId('6603d1f92498dea9061d0713'),
  'director': 'Craig Gillespie',
  'genre': ['Comedy', ' Crime'],
  'score': 7.4,
  'title': 'Cruella'},
 {'_id': ObjectId('6603d26d2498dea9061d0714'),
  'director': 'Craig Gillespie',
  'genre': ['Comedy', ' Crime'],
  'score': 7.4,
  'title': 'Cruella'},
 {'_id': ObjectId('6603d2a12498dea9061d0715'),
  'director': 'Craig Gillespie',
  'genre': ['Comedy', ' Crime'],
  'score': 7.4,
  'title': 'Cruella'},
 {'_id': ObjectId('6603d43d2498dea9061d0716'),
  'director': 'Anthony Russo and Joe Russo',
  'genre': ['Action', ' Adventure', ' Drama'],
  'score': 8.6,
  'title': ' Avengers: Infinity War'},
 {'_id': ObjectId('6603d43d2498dea9061d0717'),
  'director': 'Christopher Landon',
  'genre': ['Drama', ' Horror', ' Mystery'],
  'score': 6.6,
  'title': 'Happy Death Day 2U'},
 {'_id': ObjectId('6603d43d2498dea9061d0718'),
  'director': 'Park Chan-Wook',
  'genre': ['Action', ' Drama', ' Mystery', ' Thriller'],
  'score': 8.4,
  'title': 'Oldboy'}]

In [130]:
print("[INFO] Enter the movie title you want to update")

t, d, g, s = input_movie_info()

col.update_one(
    {
        'title':t
    },
    {
        '$set': {
            'director': d,
            'genre': g,
            'score': s
        }
    }
)

print("[INFO] Success to update!")

[INFO] Enter the movie title you want to update
[INFO] Success to update!

In [131]:
pprint(list(col.find()))

[{'_id': ObjectId('6603d43d2498dea9061d0716'),
  'director': 'null',
  'genre': ['Genre_1', ' Genre_2'],
  'score': 6.6,
  'title': ' Avengers: Infinity War'},
 {'_id': ObjectId('6603d43d2498dea9061d0717'),
  'director': 'Christopher Landon',
  'genre': ['Drama', ' Horror', ' Mystery'],
  'score': 6.6,
  'title': 'Happy Death Day 2U'},
 {'_id': ObjectId('6603d43d2498dea9061d0718'),
  'director': 'Park Chan-Wook',
  'genre': ['Action', ' Drama', ' Mystery', ' Thriller'],
  'score': 8.4,
  'title': 'Oldboy'}]

In [128]:
print("[INFO] Enter the movie title you want to delete.")
title = input("Movie title: ")
delete_op = input("Are you sure? (Y/N)")

if delete_op == "Y":
    col.delete_many({
        'title': title
    })
    print("[INFO] Deleted")

[INFO] Enter the movie title you want to delete.
[INFO] Deleted

In [129]:
pprint(list(col.find()))

[{'_id': ObjectId('6603d43d2498dea9061d0716'),
  'director': 'Anthony Russo and Joe Russo',
  'genre': ['Action', ' Adventure', ' Drama'],
  'score': 8.6,
  'title': ' Avengers: Infinity War'},
 {'_id': ObjectId('6603d43d2498dea9061d0717'),
  'director': 'Christopher Landon',
  'genre': ['Drama', ' Horror', ' Mystery'],
  'score': 6.6,
  'title': 'Happy Death Day 2U'},
 {'_id': ObjectId('6603d43d2498dea9061d0718'),
  'director': 'Park Chan-Wook',
  'genre': ['Action', ' Drama', ' Mystery', ' Thriller'],
  'score': 8.4,
  'title': 'Oldboy'}]